@model IEnumerable<Web_Delosi_Lis_Equipos.Models.Servidores>

@{
    ViewBag.Title = "IndexBuscarServidor2";
}

<h2 class="text-center">Caracteristicas del Servidor</h2>
<br />
<hr />
<p>
    @Html.ActionLink("Nuevo", "CreateServidor", null, new { @class = "btn btn-primary" })
</p>
<div>
    @using (Html.BeginForm())
    {
        <em class="text-center">Ingresa el nombre de la tienda</em>
        @Html.TextBox("nombre", "")
        <button class="btn btn-success">Consultar</button>
    }
</div>
<br />
<div class="row">
    <table class="table table-bordered table-hover table-condensed">
        <thead class="text-center">
            <tr>
                <th style='background-color: #337ab7'>
                    @Html.DisplayNameFor(model => model.vers_micros)
                </th>
                <th style='background-color: #337ab7'>
                    @Html.DisplayNameFor(model => model.s_o)
                </th>
                <th style='background-color: #337ab7'>
                    @Html.DisplayNameFor(model => model.ram)
                </th>
                <th style='background-color: #337ab7'>
                    @Html.DisplayNameFor(model => model.model_equipo)
                </th>
                <th style='background-color: #337ab7'>
                    @Html.DisplayNameFor(model => model.serial_equipo)
                </th>
                <th style='background-color: #337ab7'>
                    @Html.DisplayNameFor(model => model.tamaño_bd)
                </th>
                <th style='background-color: #337ab7'></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.vers_micros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.s_o)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model_equipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serial_equipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tamaño_bd)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>